<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/travel.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <title>{{pageTitle}}</title>
  </head>
	<body>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded" style="background-color: white;">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="../../" style="color: #0081BA;">«</a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="../" style="color: #0081BA;">Home</a>
          <a class="nav-item nav-link" href="#" style="color: #0081BA; font-weight: bold;">Destinations</a>
          <a class="nav-item nav-link" href="#" style="color: #0081BA;">My Account</a>
        </div>
      </div>
    </nav>
    <div class="jumbotron results-hero-image" style="height: 300px; background-image: url({{img}}); background-position: center; background-size: cover;">
      <h2 class="results-title" style="font-size: 5em; color: white; text-shadow: 2px 2px 8px black; padding-top: 5%;">{{title}}</h2>
    </div><br />
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="product-details">
            <p style="font-size: 1.25em;">{{description}}</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="price-and-checkout" style="text-align: center;">
            <br /><h3 style="text-align: center;">${{price}}/week</h3>
            <p>User Rating: <b>{{rating}}/5</b></p>
            <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" style="background-color: #0081BA; border-color: #0081BA">Purchase Vacation</a>
          </div>
        </div>
      </div>
      <br />
    </div>
  </body>
</html>

