<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/travel.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <title>{{pageTitle}}</title>
  </head>
	<body>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded" style="background: none; position: fixed;">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="../" style="color: white;">«</a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="#" style="color: white; font-weight: bold;">Home</a>
          <a class="nav-item nav-link" href="/shop/products" style="color: white;">Products</a>
          <a class="nav-item nav-link" href="#" style="color: white;">My Account</a>
        </div>
      </div>
    </nav>
    <div class="jumbotron" style="background-image: url('https://knowledgestew.com/wp-content/uploads/2016/03/Airplane-window.jpg'); background-size: cover; background-position: center;">
      <h1 style="font-family: cursive; font-size: 7em; color: white;">Paradiso Travel</h1>
      <form method="get", action="/travel/destinations">
        <input type="text" name="search" placeholder="Search for a Destination"><br /><br />
        <input type="submit" value="Search">
      </form>
    </div>
    <div class="steps">
      <p><img src="/imgs/check_mark.png" height="40px" width="40px">Search for your <b>perfect</b> destination</p>
      <p><img src="/imgs/check_mark.png" height="40px" width="40px">View top travel deals <b>specially curated</b> for you</p>
      <p><img src="/imgs/check_mark.png" height="40px" width="40px">Book your trip through our <b>fast, secure</b> portal</p>
    </div><br />
    <div class="top-destinations">
      <h2>Top Destinations</h2>
      {{#each destinationArray}}
      <div class="col-md-3 destination">
        <a href="/travel/products/{{_id}}">
          <div class="img" style="background-image: url({{img}}); background-size: cover; background-position: center;"></div>
        </a>
        <h3>{{title}}</h3 >
        <p>${{rate}}/week</p>
      </div>
      {{/each}}
    </div>
  </body>
</html>

