<!DOCTYPE html>
<html>
  {{> _mediaHead}}
    <body>
        <nav class="navbar  navbar-toggleable-md navbar-light bg-faded" style="background-color: black;">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" style="background-color: white;">
                <span class="navbar-toggler-icon"></span>
            </button><br /><br />
            {{!-- <a class="navbar-brand" style="color: white;" href="../">«</a> --}}
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="#" style="color: #0081BA;">Home</a>
                    <a class="nav-item nav-link" href="#" style="color: white;">News</a>
                    <a class="nav-item nav-link" href="#" style="color: white;">Politics</a>
                    <a class="nav-item nav-link" href="#" style="color: white;">Sports</a>
                    <a class="nav-item nav-link" href="#" style="color: white;">Life</a>
                    <a class="nav-item nav-link" href="#" style="color: white;">Tech</a>
                    <button type="button" class="btn btn-primary btn-sm active pull-right" style="background-color: #0081BA; border-color: #0081BA;" data-toggle="modal" data-target="#myModal">Experiment Info</button><br />
                </div>
            </div>
            <div id="custom-search-input">
                <div class="input-group col-md-12 col-sm-0">
                    <input type="text" class="form-control input-lg" placeholder="Search articles" />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-sm" type="button" style="background-color: #0081BA; border-color: #0081BA;">
                            Search
                        </button>
                    </span>
                </div>
            </div>
        </nav><br />
        <div class="title">
            <h1><b>The Daily <span>Optiverse<span></b></h1>
        </div><br />
        <div class="container">
            <div class="row">
                <div class="col-md-8 headline" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({{mainArticle.img}}); background-size: cover;">
                    <a href="#">
                        <h3 class="main-title">{{mainArticle.title}}</h3>
                    </a>
                </div>
                <div class="col-md-4">
                    <p style="text-align: center; font-size: 1.25em; font-weight: bold;">Top Stories</p><hr />
                    <ul class="top-stories">
                        {{#each topStories}}
                        <li><a href="#">{{title}}</a></li>
                        {{/each}}
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 sample-articles">
                    <div class="row">
                        {{#each samples}}
                        <div class="col-md-3 col-sm-12 col-xs-12 sample">
                            <div class="sample-image" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({{img}}); background-size: cover;">
                                <h3 class="sample-title">{{category}}</h3 >
                            </div>
                            <a href="#">{{title}}</a>
                        </div>
                        {{/each}}
                    </div>                
                </div>
                <div class="col-md-4" style="text-align: center;">
                    <p style="text-align: center; font-size: 1.25em; font-weight: bold;">Social Media Links</p><hr />
                    <img src="/imgs/facebook.png" class="social-glyph">
                    <img src="/imgs/twitter.png" class="social-glyph">
                    <img src="/imgs/instagram.png" class="social-glyph">
                    <img src="/imgs/pinterest.png" class="social-glyph">
                </div>
            </div>
        </div>
    </body>
</html>
