<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" href="/css/shop.css" type="text/css">
    <title>{{pageTitle}}</title>
  </head>	
  <body>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="../">«</a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="#" style="color: #800000; font-size: 1.15em;">Addison & Boss <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="/shop/products">Products</a>
          <a class="nav-item nav-link" href="#">My Account</a>
          <button type="button" class="btn btn-primary btn-sm active" style="background-color: #800000; border-color: #800000;" data-toggle="modal" data-target="#myModal">Experiment Info</button>
        </div>
      </div>
    </nav>
    <div class="jumbotron hero-image">
      <div class="container">
        <br /><h2 style="font-size: 2em;">The toughest brands <br /> for the toughest roads</h2><br />
        <a href="/shop/products">
          <a href="/shop/products" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" style="background-color: #800000; border-color: #800000;">Check out our Bikes</a>
            </a>
        </a>
      </div>
    </div>
    <div class="product-listing">
      <h2 style="color: #800000;">Featured Bikes</h2>
      <p>The best bikes, specially curated</p>
      {{#each productArray}}
      <a href="/shop/products/{{_id}}">
        <div class="col-md-3 col-sm-6 col-xs-6 product">
          <div class="thumbnail" style="background-image: url({{img}}); background-size: contain; background-repeat: no-repeat; background-position: center;"></div><br />
          <h4>{{title}}</h4>
          <p>${{price}}</p>
        </div>
      </a>
      {{/each}}
    </div>
    <!-- Experiment information modal -->
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Experiment Information</h4>
          </div>
          <div class="modal-body">
            <h5 style="color: #800000;">Experiment Name:</h5>
            <p>'LANDING_PAGE_UI'</p><hr />
            <h5 style="color: #800000;">Hypothesis:</h5>
            <p>Swapping out the banner image and the main call to action will increase conversions</p><hr />
            <h5 style="color: #800000;">Your Variation:</h5>
            <p>{{variation}}</p><hr />
            <h5 style="color: #800000;">What's Happening:</h5>
            <p>Based on which variation a user has been bucketed into, Optimizely is directing the site to serve up a different version of the homepage complete with a different banner image and call to action</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-lg active" data-dismiss="modal" style="background-color: #800000; border-color: #800000;">Close</button>
          </div>
        </div>
      </div>
    </div>
	</body>
</html>
