<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/shop.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <title>{{pageTitle}}</title>
  </head>
	<body>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="../../">«</a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="../">Home</a>
          <a class="nav-item nav-link active" href="../products">Products <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="">My Account</a>
        </div>
      </div>
    </nav>
    <div class="jumbotron title" style="background-color: white;">
      <h1>Resin & Steel Bikes and Gear</h1>
    </div>
    <div class="row">
      <div class="col-md-7">
        <div class="img" style="background-image: url({{img}}); background-size: contain; background-position: center; background-repeat: no-repeat;">
        </div>
      </div>
      <div class="col-md-5">
        <div class="product-details">
          <h1>{{title}}</h1>
          <h3>{{description}}</h3>
        </div>
        <br />
        <div class="price-and-checkout" style="text-align: center;">
          <h4 style="text-align: center;">${{price}}</h4>
          <a href="#">
            <button type="button" class="add-to-cart">Purchase Now</button>
          </a>
        </div>
      </div>
    </div>
	</body>
</html>